/* margin = ขอบนอก
padding = ขอบใน
width = ความกว้าง
height = ความสูง
flex = จัดแนวนอน
box-sizing = คุมขนาดกล่อง */

body {
    overflow-y: scroll;
    scrollbar-width: none;        /* Firefox */
    -ms-overflow-style: none;     /* IE / Edge */
    background-color: #080c18;
    margin: 0;
}
body::-webkit-scrollbar {
    display: none;                /* Chrome / Safari */
}
* {
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    margin: 0px;
    padding: 0px;
}


/* ─── Navbar ─────────────────────────────────── */

.navmemu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    padding: 15px 40px;
    border-bottom:  2px solid;
    border-image: linear-gradient(90deg, #00d4ff, #7b2fff,#ff6b35, #f0a500) 1;
}
.event-group {
    display: flex;
    align-items: center;
    gap: 0; 
}
.event {
    text-shadow: #00d9ffe3 0px 0px 10px; /* Xเงาเยื้องซ้าย/ขวา (+ = ขวา, - = ซ้าย)      Yเงาเยื้องบน/ล่าง (+ = ล่าง, - = บน)  เบลอ*/
    background: linear-gradient(90deg, #00d4ff, #7b2fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
}


.event2{
    background: linear-gradient(270deg, #ff6b35, #f0a500);
    text-shadow: #ff6b35 0px 0px 10px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-left: 15px;

}

.menu a {
    color: #fcfcfc;
    text-decoration: none;
    /*ลบเส้นใต้*/
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 15px;
    /* ปรับความโค้งของปุ่ม */
    color: #ffffff;
}

.menu a:hover {
    background-color: #0b336e;
    color: white;
}

.menu a.active,
.menu a.register,
.menu a.participants,
.menu a.admin {
    background-color: #ffffff;
    color: #0b336e;
    box-shadow: 0px 0px 10px rgb(0, 110, 255);
}

.menu {
    display: flex;
    gap: 40px;
    /*ระยะห่างระหว่างเมนู*/
}

/* ─── container ─────────────────────────────────── */
.card-containerActivity {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding:40px;
    justify-content: center;
}

.container {
    border: 2px solid ;
    border-image: linear-gradient(0deg, #00d4ff, #0b336e,) 1;

    box-shadow: 10px 10px 30px rgba(1, 26, 255, 0.3);
    padding: 2rem;
    border-radius: 12px;
    /* ปรับความโค้งของปุ่ม */
    width: 100%;
    max-width: 500px;
    height: 300px;
    
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}
.container:hover {
    transform: translateY(-6px); 
    box-shadow: 0 12px 32px rgba(11, 51, 110, 0.25);
}


.card-containerregister {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.container-register {
    border-bottom: 2px solid #080cf57a;
    box-shadow: 0px 0px 100px rgba(7, 11, 240, 0.3);
    margin: auto;
    padding: 2rem;
    border-radius: 50px;
    /* ปรับความโค้งของปุ่ม */
    width: 100%;
    max-width: 1000px;
    height: auto;
    background-color: #000207;
}

.card-containeradmin {
    margin-top: 50px;
}

.container-admin {
    border-bottom: 1px solid #0010f57a;
    box-shadow: 0px 0px 100px rgba(7, 11, 240, 0.3);
    margin: auto;
    padding: 2rem;
    border-radius: 50px;
    /* ปรับความโค้งของปุ่ม */
    width: 100%;
    max-width: 500px;
    height: 400px;
}

.card-participant-number,
.card-participant-name,
.card-participant-email,
.card-participant-event {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}
.container-Participants {

    box-shadow: 0px 0px 100px rgba(7, 11, 240, 0.3);
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    margin-top: 50px;
    width: 100%;
    max-width: 1200px;
    height: auto;
    border-bottom: 3px solid #0b336e;
    border: #0b336e solid 2px;
    

}




/* ส่วนกิจกรรม */
.header {
    font-size: 20px;
    font-weight: bold;
    color: #87b4f7
}

/* ส่วนวันที่ */
.date p {
    font-size: 15px;
    color: #c7d8f1
}
.progress-wrap {
    margin-top: 12px;
    
}

.progress-label {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.824)
    
}

.progress-bar {
    width: 100%;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-fill {
    height: 100%;
    background-color: #00ff2ab0;
    border-radius: 10px;
    transition: width 0.3s ease;
    
}
/*ปุ่มกด*/
.button-register {
    background-color: #0b336e;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 60px;
    
    
}

.button-register:hover {
    border:1px solid #061d42;
    background-color: #ffffff;
    color: #0b336e;
}
.button-register:active {
    background-color: #061d42;
    color: #ffffff;
    transform: scale(0.95); 
}
.title-Actyvity h1{
    text-shadow: #0044ff34 5px 5px 10px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(90deg, #00d4ff, #7b2fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
}
.title-Actyvity h2{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    color: #c3d3eb
}
/*─── register ────────────────────────────────────── */
.register-title h1 {
    text-shadow: #0044ff34 5px 5px 10px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(90deg, #00d4ff, #7b2fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
}

.register-title h2 {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    color: #c3d3eb
}


.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


.title-number,
.title-name,
.title-email,
.title-event {
    font-size: 15px;
    font-weight: bold;
    color: #4987e6
}

.card-name,
.card-email,
.card-even {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.input-text {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #0026fd;
    background-color: #f8f8f8;
    
    margin-top: 15px;
    

}


/*─── submit────────────────────────────────── */
.submit {
    display: flex;
    justify-content: center;
}

.submit-button {
    background-color: #0b336e;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    padding: 10px 150px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 50px;

}
.submit-button:hover {
    background-color: #ffffff;
    color: #0b336e;
    border: 1px solid #0b336e;
}
.submit-button:active {
    background-color: #ff0022;
    color: #ffffff;
    transform: scale(0.95); 
}


/*─── Participants ────────────────────────────────────── */
.Participants h1 {
    text-align: center;
    text-shadow: #0044ff34 5px 5px 10px;
    font-size: 50px;
    font-weight: bold;
   background: linear-gradient(90deg, #00d4ff, #7b2fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
}

.Participants h2 {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    color: #c3d3eb
}



.row-Participants {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ; 
    gap: 10px;
    padding: 1rem;
    border-bottom: 1px solid #a3bdec;
    color: #b3c9eb;
    align-items: center;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    
}
.row-Participants:last-child {
    border-bottom: none;
}


.title-username,
.title-password {
    font-size: 14px;
    font-weight: bold;
    color: #7fb3ff;
    margin-top:  10px;


}
.input-textlogin {
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #0b336e;
    background-color: #0d1428;
    color: white;
    margin-top: 10px;
 
}
.toast {
    position: fixed;
    top: 24px;
    right: 24px;
    padding: 14px 24px;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
    color: #fff;
    z-index: 9999;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

.toast.error  { background-color: #e74c3c; }
.toast.success { background-color: #27ae60; }
.toast-inline {
    margin-top: 16px;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    display: none; /* ซ่อนไว้ก่อน */
}

.toast-inline.error {
    display: block;
    
    border: 2px solid #ff1900;
    color: #ff0000;
    
}

.toast-inline.success {
    display: block;
    border: 2px solid #27ae60;
    color: #27ae60;
}
/*─── Admin logout───────────────────────────────────── */
.btn-logout {
    background: none;
    border: 1px solid #e74c3c;
    color: #e74c3c;
    border-radius: 15px;
    padding: 6px 16px;
    font-size: 14px;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
}

.btn-logout:hover {
    background-color: #e74c3c;
    color: white;
}
/*─── Admin Login────────────────────────────────────── */
.admin-login h1{
    text-shadow: #0026ff56 5px 5px 10px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(90deg, #00d4ff, #7b2fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
}
.admin-login h2{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    color: #c3d3eb
}

.admin-title {
    position: relative;
    padding: 0 40px;
    margin-top: 30px;
    text-align: center;
}
.admin-title h1 {
    font-size: 36px;
    font-weight: bold;
    background: linear-gradient(90deg, #00d4ff, #7b2fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text
    
    
}
.admin-title h2 {
    font-size: 20px;
    color: #7eaaeb;
    margin-top: 8px;
}

.section-title {
    font-size: 18px;
    font-weight: bold;
    color: #7eaaeb;
    margin-bottom: 12px;
    padding-bottom: 8px;
    border-bottom: 2px solid #0b336e33;
}
.row-Participants-admin{
    font-weight: bold;
    font-size: 15px;
    color: #7eaaeb;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 100px 120px; /* 5 คอลัมน์ */
    padding: 1rem;
    border-bottom: 1px solid #a3bdec;
    align-items: center;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
}
.row-header > div {
    font-weight: bold;
    font-size: 15px;
    color: #7eaaeb;
}

.btn-add {
    background-color: #0b336e;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 24px;
    font-size: 14px;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    margin-left: 1500px;
    display: block;
}

.btn-add:hover {
    background-color: #1a52a8;
}

.btn-edit {
    background-color: #f0a500;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 12px;
    font-size: 12px;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
}

.btn-edit:hover {
    background-color: #c88400;
}

.btn-delete {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 12px;
    font-size: 12px;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #c0392b;
}

.btn-cancel {
    background-color: #aaa;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 40px;
    font-size: 12px;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
}

.btn-cancel:hover {
    background-color: #888;
}

/* Modal */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-box {
    background: #ffffff;
    border-radius: 20px;
    padding: 2rem;
    width: 100%;
    max-width: 480px;
    box-shadow: 0px 0px 60px rgba(7, 11, 240, 0.3);
}

.modal-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #0b336e;
    margin-bottom: 16px;
}

.search-wrap {
    display: flex;
    justify-content: center;
    margin: 20px 40px;
}

.search-input {
     width: 300px;
    transition: width 0.4s ease, box-shadow 0.3s ease;
    max-width: 500px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #0b336e;
    font-size: 14px;
    font-family: 'Kanit', sans-serif;
    outline: none;
}

.search-input:focus {
    border-color: #378ADD;
     width: 500px;
    box-shadow: 
        0 0 5px rgb(0, 213, 255),
        0 0 15px rgb(0, 38, 255);
    border-color: #0b336e;
    transition: all 0.3s ease;
}
.search-input-admin {
    width: 200px;
    transition: width 0.4s ease, box-shadow 0.3s ease;
    padding: 8px 16px;
    border-radius: 20px;
    border: 2px solid #0b336e;
    font-size: 13px;
    font-family: 'Kanit', sans-serif;
    outline: none;
}

.search-input-admin:focus {
    width: 280px;
    box-shadow:0 0 5px rgb(0, 213, 255),0 0 15px rgb(0, 38, 255);
    border-color: #378ADD;
}